{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NFLM | View Review</title>
{% include 'head_css.html' %}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="container">
   <div class="row">
      {% include 'myaccount_sidebar.html' %}
      <div class="col-md-9">
         <!-- product category -->
         <section id="aa-product-category">
            <div class="aa-product-catg-content">
               <div class="aa-product-catg-body">
                  <ul class="aa-product-catg list">
                     <!-- start single product item -->
                     {% if reviews|length > 0 %}
                     {% for review in reviews %}
                     <li>
                        <figure style="height: 180px">
                           <a class="aa-review-img" href="{{ review.product.get_absolute_url }}">
                           <img src="{{ review.product.product_images.all.0.image.url }}" alt="{{ review.product.product_images.all.0.alt_text }}">
                           </a>
                           <div class="review-buttons">
                               <a class="aa-add-card-btn" href="{% url 'add_review' product_id=review.product.id %}">
                               <span class="fa fa-pencil">
                               </span>update Review
                               </a>
                               <a class="aa-remove-card-btn" href="{% url 'remove_from_reviews' id=review.id %}">
                               <span class="fa fa-trash">
                               </span>Delete Review
                               </a>
                           </div>
                           <figcaption>
                              <h4 class="aa-product-title">
                                 <a href="{{ review.product.get_absolute_url }}">Review for {{ review.product.title }}
                                 </a>
                              </h4>
                              <p><strong>Rating:</strong>{{ review.rating }}</p>
                              <p><strong>Nickname:</strong>{{ review.nickname }}</p>
                              <p class="aa-product-descrip review-description"><strong>Comment:</strong>{{ review.comment }}</p>
                           </figcaption>
                        </figure>
                     </li>
                     {% endfor %}
                     {% else %}
                     <h1>You haven't Reviewed any items yet.</h1>
                     {% endif %}
                  </ul>
               </div>
            </div>
         </section>
      </div>
   </div>
</div>
{% include 'footer.html' %}
{% include 'footer_script.html' %}
<script>
    function addtoCart(product_slug, id){
        event.preventDefault();
        var add_to_cart = "#add_to_cart" + id;
        var add_to_cart_modal = "#add_to_cart_modal" + id;
        $.ajax({
            type: "POST",
            url: "{% url 'add_to_cart' slug="default" %}".replace('default', product_slug),
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'qty' : 1
            },
            success: function(data){
                console.log(data);
                $(add_to_cart).html("<span class='fa fa-check'></span>Added to Cart");
                $(add_to_cart_modal).html("<span class='fa fa-check'></span>Added to Cart");
                $('#message_div').show();
                $('#message').text(data.success);
            },
            error: function(response,error){
                alert('error')
                console.log(response),
                console.log(error)
            }
        })
    }
</script>
{% endblock %}
