{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NFLM | 500 Server Error</title>
{% include 'head_css.html' %}
{% endblock %}
{% block content %}
{% include 'header.html' %}
    <!-- 500 error section -->
  <section id="aa-error">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-error-area">
            <h2>500</h2>
            <span>Sorry! Server Error.</span>
            <p>Sorry for the incovenience caused.We are working on a fix now.Please come back after sometime.</p>
            <a href="{% url 'home' %}"> Go to Homepage</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / 500 error section -->
{% include 'footer.html' %}
{% include 'footer_script.html' %}
{% endblock %}