{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="NFLM, Nail Art Design, Nail Design, Contact Us, Queries">
    <meta name="description" content="Your feedback is important to us. Regarding nail art problem contacts us on 8551060011.
     To know about latest fashion trend of nail art design sign up on nflm.">
    <title>NFLM | Contact Us | Nail art design problems , Free nail art service</title>

    {% include 'head_css.html' %}

{% endblock %}

{% block content %}
{% include 'header.html' %}
<!-- catg header banner section -->
  <section id="aa-catg-head-banner" style="background-color: white">
   <img src="{% static 'img/collection.jpg' %}" alt="fashion img">
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2 class="list_page_head">Contact</h2>
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Contact</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->
<!-- start contact section -->
 <section id="aa-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="aa-contact-area">
           <div class="aa-contact-top">
             <h2>We are wating to assist you..</h2>
           </div>
           <!-- Contact address -->
           <div class="aa-contact-address">
             <div class="row">
               <div class="col-md-8">
                 <div class="aa-contact-address-left">
                   <form class="comments-form contact-form" action="{% url 'contact' %}" method="post">{% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" placeholder="Full Name" name="name" class="form-control">
                          {% if form.name.errors %}
                            <span class="error">{{ form.name.errors }}</span>
                          {% endif %}
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="email" placeholder="Email" name="email" class="form-control">
                          {% if form.email.errors %}
                           <span class="error">{{ form.email.errors }}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                     <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" placeholder="Subject" name="subject" class="form-control">
                          {% if form.subject.errors %}
                               <span class="error">{{ form.subject.errors }}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" rows="3" placeholder="Message" name="message"></textarea>
                          {% if form.message.errors %}
                             <span class="error">{{ form.message.errors }}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    <button class="aa-secondary-btn">Send</button>
                  </form>
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="aa-contact-address-right">
                   <address>
                      <h4>NFLM Cosmotech Pvt Ltd</h4>
                      <p> BU-4, Center of Innovation</p>
                       <p> 3rd Floor, Library Building</p>
                       <p> Visvesvaraya National Institute of Technology</p>
                       <p> Nagpur-440010</p>
                      <p><span class="fa fa-phone"></span>+91-8551060011</p>
                      <p><span class="fa fa-envelope"></span>info@nflm.co.in</p>
                   </address>
                 </div>
               </div>
             </div>
           </div>
           <!-- contact map -->
           <div class="aa-contact-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.682581481739!2d79.04917891423626!3d21.12521738985586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c070cc66c693%3A0x4c8ab9a5bf9f0c6f!2sNFLM+Cosmotech+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1462288330328" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
{% include 'footer.html' %}
{% include 'footer_script.html' %}
{% endblock %}