{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NFLM | Product Listing</title>
    {% include 'head_css.html' %}

{% endblock %}

{% block content %}
    {% include 'header.html' %}

    <div class="container">
        <div class='row'>
            <div class='col-sm-8 col-sm-offset-2'>
                <h1 class="form-title">{% trans "Confirm E-mail Address" %}</h1>
                {% user_display confirmation.email_address.user as user_display %}

                <p>{% blocktrans with confirmation.email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
            </div>
        </div>
        <hr/>
    </div>

    {% include 'footer.html' %}
    {% include 'footer_script.html' %}
{% endblock %}