{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NFLM | Password Reset From Key</title>
    {% include 'head_css.html' %}

{% endblock %}

{% block content %}
    {% include 'header.html' %}

    <div class="container">
        <div class='row'>
            <div class='col-sm-8 col-sm-offset-2'>
                {% if token_fail %}
                    <h1>Bad Token</h1>
                    <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="/accounts/password/reset/">new password reset</a>.</p>
                {% else %}
                    <h1>Change your Password</h1>
                    <form method="post" action="." class="aa-login-form">{% csrf_token %}
                      {{ form|crispy }}
                      <input class="aa-browse-btn" style="margin-bottom: 30px;" type="submit" value="{% trans 'Submit' %}" />
                    </form>
                {% endif %}
            </div>
        </div>
        <hr/>
    </div>

    {% include 'footer.html' %}
    {% include 'footer_script.html' %}
{% endblock %}