@font-face {
    font-family: 'reybro';
    src: url(../font/Amarillo.otf);
}

@font-face {
    font-family: 'bebas';
    src: url(../font/Photographs.ttf);
}

@font-face {
    font-family: 'normal';
    src: url(../font/gothic.ttf);
}

@font-face {
    font-family: 'title';
    src: url(../font/basictitlefont.ttf);
}

.title_font{
    font-family: "title" !important;
}


.head_text{
    font-family: "reybro" !important;
    font-size: 17pt;
    letter-spacing: 0.05em !important;
}

.header_position{
    position: relative !important;
    bottom: 40px !important;
}

.feature_box{
    padding: 10px;
    background-color: hsla(48,93%,93%,0.2);
    border-radius: 8px;
    border: 2px dotted #575757;
}

.feature_head{
    font-family: "reybro";
    font-size: larger;
}

.feature_header{
    font-family: "reybro";
    font-size: 27px;
    color: #575757;
    letter-spacing: 0.08em;
    margin-top: 75px;
    padding: 22px;
    border-top: 3px double #1abc9c;
    border-bottom: 3px double #1abc9c;
    text-shadow: 2px 2px 2px hsla(168,86%,68%,0.4);
}

.feature_text{
    font-family: "normal" !important;
    font-size: 11pt;
    text-align: justify !important;
}

.logo{
    position: relative;
    bottom: 10px;
}

.custom_nav{
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 0px 1px hsla(168,86%,68%,0.3);
}

.why_love{
    margin-top: 30px !important;
    margin-bottom: 35px !important;
}

.cway{
    font-family: "bebas";
    font-size: 32pt !important;
    letter-spacing: 0.07em;
}

.cway_step_head{
    font-family: "bebas" !important;
    font-size: 24pt;
    letter-spacing: 0.05em;
}

.steps_to_apply{
    background-color: hsla(48,93%,93%,0.5);
    padding: 15px;
    border-radius: 6px;
}

.testi_head{
    font-family: "bebas";
    letter-spacing: 0.08em;
}
.testi_subhead{
    font-family: "reybro";
    color: #1abc9c;
    font-size: 18pt;
    border-top: 4px double #171717;
    padding-top: 25px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 1px hsla(0,0%,0%,0.3);
}

.testi_text{
    text-align: center !important;
    font-family: "normal";
    line-height: 17px;
    font-size: 12pt;
}
.testi_name{
    font-weight: bold;
}

.add_to_cart{
    font-family: "normal" !important;
    padding: 0px !important;
}

.normal_font{
    font-family: "normal" !important;
}

.footer_head{
    font-family: "normal" !important;
    font-size: 16pt;
}
.footer_text{
    font-family: "normal" !important;
    font-size: 12pt;
    letter-spacing: 0.03em;
}

.list_page_head{
    font-family: "normal" !important;
    letter-spacing: 0.13em;
}

.abt_head{
    font-family: "title" !important;
    letter-spacing: 0.02em;
    font-size: 33pt !important;
}

.faq_text{
    font-family: "normal" !important;
}

@media screen and (max-device-width : 320px)
{
  .head_text
  {
    font-size:15pt !important;
  }
  .feature_header{
      font-size: 15px !important;
      border: none !important;
  }
  .testi_subhead{
      font-size: smaller !important;
  }
}
