{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NFLM | Coupon Status</title>
{% include 'head_css.html' %}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="container">
   <div class="row">
      {% include 'myaccount_sidebar.html' %}
      <div class="col-md-9">
         <div class="account-container">
            <!-- Cart view section -->
            <section id="cart-view">
               <div class="cart-view-area">
                  <div class="cart-view-table" style="background-color: transparent;padding: 0">
                     <div class="table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th>Coupon</th>
                                 <th>Status</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>{{ affiliate.coupon.coupon_code }}</td>
                                 {% if affiliate.coupon.active %}
                                    <td><span style="color: #1abc9c"><fa class="fa fa-check"></fa></span></td>
                                 {% else %}
                                    <td><span style="color: red"><fa class="fa fa-close"></fa></span></td>
                                 {% endif %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </section>
            <!-- / Cart view section -->
         </div>
      </div>
   </div>
</div>
{% include 'footer.html' %}
{% include 'footer_script.html' %}
{% endblock %}