{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="NFLM, nail design, nail art, custom nail art, custom nail design, design nail art, custom design">
    <meta name="Submit Your own Custom Made Nail Design Art.">
    <title>NFLM | Custom Design</title>

    {% include 'head_css.html' %}

{% endblock %}

{% block content %}
    {% include 'header.html' %}

    <div class="container">
        <div class="row">
            {% include 'myaccount_sidebar.html' %}
            <div class="col-md-9">
                <div class="account-container">
                    <h1 class="title_font"><b>Submit a Customized Design</b></h1>
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post" action="{% url 'customization' %}" class="aa-login-form" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ form|crispy }}
                              <button type="submit" class="aa-browse-btn">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-6" style="padding-top: 38px">
                            <img class="img-responsive" src="{% static 'img/slider/7.jpg' %}" alt="custom_image">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    {% include 'footer_script.html' %}
    <script defer>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47070425-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}