{% extends "base.html" %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="faq, Nail Art, nflm help">
    <meta name="description" content="Select the nail art Product from nflm.co.in and Technical faq. find answers to commonly raised questions about nail art and free shipping and delivery.">
    <title>NFLM Help | Frequently Asked Questions faq about nail art</title>

    {% include 'head_css.html' %}

{% endblock %}

{% block content %}
{% include 'header.html' %}
<!-- start contact section -->
<div class="container">
 <div class="row">
   <div class="col-md-12">
     <div class="aa-area">
       <div class="aa-top">
         <h2 class="abt_head">FAQ</h2>
       </div>
       <div class="aa-about-desc faq_text">
           <h3>1. Can I change the  contact information provided at the time of registration?</h3>
           <p>You can change your contact information from the My Account section at www.nflm.co.in</p>
           <h3>2. How do I place an order with nflm.co.in?</h3>
           <p>You can start shopping by visiting at www.nflm.co.in, search for the products you desire. Click on Designs for your choice of product. This will take you to the product detail page, from where you can add the required number of items of the product to your checkout cart using the &#8216;ADD TO CART&#8217; button.</p>
           <h3>3. Are the prices displayed on the website inclusive of Tax?</h3>
           <p>The prices displayed on the website are inclusive of tax.</p>
           <h3>4. What is the shipping cost to be paid?</h3>
           <p>We offer free shipping on all the order, except ODA (Outskirt Delivery Area).</p>
           <h3>5. What are the payment options available?</h3>
           <p>We accept the payment through modes such as Net Banking, all major Credit Card & Debit Card.</p>
           <h3>6. Does NFLM.co.in offers Cash on Delivery (COD)?</h3>
           <p>Nflm.co.in does NOT offer Cash on Delivery (COD) mode of payment.</p>
           <h3>7. How will I know about my order confirmation?</h3>
           <p>On confirmation of your order, a notification will be sent to your email along with the order reference number you can know more faq about nail art by contacting us.</p>
           <h3>8. How can I track the Status of my order?</h3>
           <p>You can track the status of your order from the My Account section at www.nflm.co.in</p>
           <h3>9. How will I know when is my order shipped?</h3>
           <p>Information regarding the order, along with courier details will be sent to your email.</p>
       </div>
     </div>
   </div>
 </div>
</div>
{% include 'footer.html' %}
{% include 'footer_script.html' %}
{% endblock %}