{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NFLM | Privacy</title>

    {% include 'head_css.html' %}

{% endblock %}

{% block content %}
{% include 'header.html' %}
<!-- start contact section -->
<div class="container">
 <div class="row">
   <div class="col-md-12">
     <div class="aa-area">
       <div class="aa-top">
         <h2 class="text-capitalize abt_head">Privacy Policy</h2>
       </div>
       <div class="aa-about-desc text-justify">
            <p>Nflm.co.in Privacy Policy<br><br>
            <p>We value the trust you place in Nflm.co.in. That's why we insist upon the highest standards for secure transactions and customer
            information privacy. Please read the following statement to learn about our information gathering and dissemination practices.<br><br>
            Note: Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review
            this policy periodically.<br><br><br>
            Collection of Personally Identifiable Information<br>
            We collect personally identifiable information (email address, name, phone number, mailing address, etc.) from you when you set
            up a free account with Nflm.co.in. While you can browse some sections of our site without being a registered member, certain
            activities (such as placing an order) do require registration. We do use your contact information to send you offers based on
            your previous orders and your interests.<br><br>Use of Demographic and Profile Data<br>
            We use personal information to provide the services you request. To the extent we use your personal information to market to you,
            we will provide you the ability to opt-out of such uses. We use your personal information to resolve disputes; troubleshoot problems;
            help promote a safe service; collect fees owed; measure consumer interest in our products and services, inform you about online and
            offline offers, products, services, and updates; customize your experience; detect and protect us against error, fraud and other
            criminal activity; enforce our terms and conditions; and as otherwise described to you at the time of collection. In our efforts to
            continually improve our product and service offerings, we collect and analyze demographic and profile data about our users&#8217; activity
            on our website.<br><br>
            We identify and use your IP address to help diagnose problems with our server, and to administer our website. Your IP address is
            also used to help identify you and to gather broad demographic information.
            We will occasionally ask you to complete optional online surveys. These surveys may ask you for contact information and demographic
            information (like zip code, age, or income level). We use this data to tailor your experience at our site, providing you with content
            that we think you might be interested in&#8211;and to display content according to your preferences.<br><br>
            Cookies<br>
            Cookies are useful for enabling the browser to remember information specific to a given user. Nflm.co.in places both permanent and
            temporary cookies in your computer&#8217;s hard drive. Nflm.co.in&#8217;s cookies do not contain any of your personally identifiable information.
            <br><br>Sharing of personal information<br>
            We may share personal information with our other corporate entities and affiliates to: help detect and prevent identity theft, fraud
            and other potentially illegal acts; correlate related or multiple accounts to prevent abuse of our services; and to facilitate joint
            or co-branded services that you request where such services are provided by more than one corporate entity. Those entities and
            affiliates may not market to you as a result of such sharing unless you explicitly opt-in.<br><br>
            We may disclose personal information if required to do so by law or in the good faith belief that such disclosure is reasonably
            necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal information to law enforcement
            offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our
            Terms or Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or
            protect the rights, property or personal safety of our users or the general public.<br><br>
            Nflm.co.in and its affiliates will share some or all of your personal information with another business entity should we (or our assets)
            plan to merge with, or be acquired by that business entity. Should such a transaction occur, that other business entity (or the new
            combined entity) will be required to follow this privacy policy with respect to your personal information.<br><br>Links to Other Sites<br>
            Our site links to other websites that may collect personally identifiable information about you. Nflm.co.in is not responsible for the
            privacy practices or the content of those linked websites.<br><br>
            Security Precautions<br>
            Our site has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control.
            Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our
            possession we adhere to strict security guidelines, protecting it against unauthorized access.<br><br>
            Choice/Opt-Out<br>
            Nflm.co.in provides all users with the opportunity to opt-out of receiving non-essential (promotional, marketing-related)
            communications from us on behalf of our partners, and from us in general, after setting up an account.<br><br>
            If you want to remove your contact information from all Nflm.co.in lists and newsletters, please mail us at customercare@nflm.co.in
       </div>
     </div>
   </div>
 </div>
</div>
{% include 'footer.html' %}
{% include 'footer_script.html' %}
{% endblock %}