{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="NFLM, Nail Art, Nail Design, Shopping Cart">
<meta name="description" content="Your Shopping cart serves you the latest and wishlist product on your cart with newbies nail design, trendy fashion 2016, upcoming trend.">
<title>NFLM Cart | Collection of latest nail art designs</title>
{% include 'head_css.html' %}
{% endblock %}
{% block content %}
{% include 'header.html' %}
<!-- Cart view section -->
<section id="cart-view">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="cart-view-area">
               <div class="cart-view-table">
                  {% if cart.cart_items.all|length > 0 %}
                  <form action="">
                     <div class="table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th></th>
                                 <th></th>
                                 <th>Product</th>
                                 <th>Price</th>
                                 <th>Quantity</th>
                                 <th>Total</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for cart_item in cart.cart_items.all %}
                              <tr>
                                 <td>
                                    <a class="remove" href="{% url 'remove_from_cart' id=cart_item.id %}">
                                       <fa class="fa fa-close"></fa>
                                    </a>
                                 </td>
                                 <td><a href="{{ cart_item.product.get_absolute_url }}"><img src="{{ cart_item.product.product_images.all.0.image.url }}" alt="{{ cart_item.product.product_images.all.0.alt_text }}"></a></td>
                                 <td><a class="aa-cart-title" href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.title }}</a></td>
                                 <td>Rs {{ cart_item.product.get_price }}</td>
                                 <td><input class="aa-cart-quantity" type="number" value="{{ cart_item.quantity }}" id="cart_quantity{{ cart_item.id }}" onchange="UpdateCart(event,'{{ cart_item.id }}','{{ cart_item.product.stock }}');"></td>
                                 <td><span id="cart_item_total{{ cart_item.id }}">Rs {{ cart_item.line_total }}</span></td>
                              </tr>
                              {% endfor %}
                              <tr>
                                 <td colspan="6" class="aa-cart-view-bottom">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="aa-cart-coupon">
                                               <input class="aa-coupon-code" id="cart-coupon" type="text" placeholder="Coupon">
                                                {% if user.is_authenticated %}
                                               <input class="aa-cart-view-btn" type="submit" onclick="CouponCheck(event);" value="Apply Coupon">
                                                {% else %}
                                                <a class="aa-cart-view-btn" type="submit" data-toggle="modal" data-target="#login-modal">Apply Coupon</a>
                                                {% endif %}
                                            </div>
                                            {% if cart.coupon %}
                                                <span id="coupon-message" class="cart-coupon-message">Congratulations! Coupon {{ cart.coupon }} applied successfully.</span>
                                           {% else %}
                                                <span id="coupon-message" class="cart-coupon-message" style="display: none"></span>
                                           {% endif %}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="aa-cart-gift">
                                                <form class="form-inline">
                                                  <div class="checkbox">
                                                    <label>
                                                        {% if cart.gift_wrap %}
                                                            <input type="checkbox" id="gift_checkbox" onclick="GiftCheck();" checked> Gift Wrap
                                                        {% else %}
                                                            <input type="checkbox" id="gift_checkbox" onclick="GiftCheck();"> Gift Wrap
                                                        {% endif %}
                                                    </label>
                                                  </div>
                                                  <div class="form-group">
                                                    {% if cart.notes %}
                                                        <textarea class="form-control" id="gift_notes" rows="2">{{ cart.notes }}</textarea>
                                                    {% else %}
                                                        <textarea class="form-control" id="gift_notes" rows="2">Gift from {{ user }}</textarea>
                                                    {% endif %}
                                                  </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </form>
                  <!-- Cart Total view -->
                  <div class="cart-view-total col-sm-10 col-xs-10 col-md-4 col-md-offset-3">
                     <table class="aa-totals-table">
                        <tbody>
                           <tr id="cart_subtotal">
                              <th>Subtotal</th>
                              <td><span id="cart_subtotal_span">Rs {{ cart.subtotal }}</span></td>
                           </tr>
                           {% if cart.gift_wrap %}
                           <tr id="gift_total">
                              <th>Gift Wrap</th>
                              {% if gift_cost == 0 %}
                              <td><span id="gift_wrap_span">Free</span></td>
                              {% else %}
                              <td><span id="gift_wrap_span">Rs {{ gift_cost }}</span></td>
                              {% endif %}
                           </tr>
                           {% else %}
                           <tr id="gift_total" style="display: none">
                              <th>Gift Wrap</th>
                              <td><span id="gift_wrap_span"></span></td>
                           </tr>
                           {% endif %}
                           {% if cart.coupon %}
                           <tr id="cart_coupon_discount">
                              <th>Coupon Discount</th>
                              <td><span id="cart_coupon_discount_span">Rs {{ cart.coupon_discount }}</span></td>
                           </tr>
                           {% else %}
                           <tr id="cart_coupon_discount" style="display: none;">
                              <th>Coupon Discount</th>
                              <td><span id="cart_coupon_discount_span">{{ cart.coupon_discount }}</span></td>
                           </tr>
                           {% endif %}
                           <tr id="cart_total">
                              <th>Cart total</th>
                              <td><span id="cart_total_span">Rs {{ cart.get_final_total }}</span></td>
                           </tr>
                        </tbody>
                     </table>
                     <a href="{% url 'order_login' id=cart.id %}" class="aa-cart-view-btn">Proceed to Checkout</a>
                  </div>
                  {% else %}
                  <h1>No items in Cart</h1>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- / Cart view section -->
{% include 'footer.html' %}
{% include 'footer_script.html' %}
<script>
    function UpdateCart(e,id,stock){
        e.preventDefault();
        $('#ajax_loading_animation').show();
        var qty_id = '#cart_quantity' + id;
        var value = $(qty_id).val();
        var cart_item_total = $('#cart_item_total' + id);
        if(parseInt(value)>stock){
            alert("Quantity has exceeded stock.Maximum Availability is " + stock)
            $(qty_id).val(stock);
            value=stock;
        }
        $.ajax({
            type: "GET",
            url: "{% url 'update_cart' %}",
            data: {
                'quantity' : value,
                'id': id
            },
            success: function(data){
                $('#ajax_loading_animation').hide();
                console.log(data);
                if(data.refresh){
                    location.reload();
                }else{
                    cart_item_total.text('Rs ' + data.line_total);
                    $('#cart_subtotal_span').text('Rs ' + data.subtotal);
                    $('#cart_total_span').text('Rs ' + data.final_total);
                    UpdateCartItemCount();
                }
            },
            error: function(response,error){
                $('#ajax_loading_animation').hide();
                alert('error')
            }
        })
    }
    function GiftCheck(){
        var gift_wrap_span = $('#gift_wrap_span');
        var cart_total_span = $('#cart_total_span');
        var checked;
        $('#ajax_loading_animation').show();
        if($('#gift_checkbox').is(":checked")){
            checked = "True"
        }else{
            $('#gift_total').hide();
            checked = "False"
        }
        $.ajax({
            type: "GET",
            url: "{% url 'add_gift_cart' %}",
            data: {
                'id': '{{ cart.id }}',
                'notes': $('#gift_notes').val(),
                'checked': checked
            },
            success: function(data){
                $('#ajax_loading_animation').hide();
                console.log(data);
                if(data.success){
                    if((data.gift_cost) == 0){
                        gift_wrap_span.text("Free");
                        cart_total_span.text("Rs" + data.subtotal);
                        if($('#gift_checkbox').is(":checked")){
                            $('#gift_total').show();
                            $('#cart_total').show();
                        }
                    }else{
                        gift_wrap_span.text("Rs" + data.gift_cost);
                        cart_total_span.text("Rs" + data.final_total);
                        if($('#gift_checkbox').is(":checked")){
                            $('#gift_total').show();
                            $('#cart_total').show();
                        }
                    }
                }else{
                    alert("Some Error Occurred. Please try Again.")
                }
            },
            error: function(response,error){
                $('#ajax_loading_animation').hide();
                alert('error')
            }
        })
    }

    function CouponCheck(e){
        e.preventDefault()
        $('#ajax_loading_animation').show();
        var coupon = $('#cart-coupon').val();
        $.ajax({
            type: "POST",
            url: "{% url 'coupon_check' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'cart_id': '{{ cart.id }}',
                'coupon_code': coupon
            },
            success: function(data){
                $('#ajax_loading_animation').hide();
                console.log(data);
                if(data.success){
                    $('#coupon-message').removeClass('error');
                    $('#coupon-message').show();
                    $('#coupon-message').text(data.message);
                    $('#cart_coupon_discount').show();
                    $('#cart_coupon_discount_span').text(data.discount);
                    $('#cart_total_span').text('Rs ' + data.final_total);
                }else{
                    $('#coupon-message').addClass('error');
                    $('#coupon-message').show();
                    $('#cart_coupon_discount').hide();
                    $('#coupon-message').text(data.message);
                     $('#cart_total_span').text('Rs ' + data.final_total);
                    alert("Some Error Occurred. Please try Again.")
                }
            },
            error: function(response,error){
                $('#ajax_loading_animation').hide();
                alert('error')
            }
        })
    }
</script>
{% endblock %}